
    .password-form {
      display: flex;
      flex-direction: column;
    }

    .input-wrapper {
      position: relative;
      width: 200px;

    }

    .input-wrapper input {
      min-width: 120px;
      padding: 10px;
      margin-bottom: 24px;
    }

    .input-wrapper i {
      position: absolute;
      right: 45px;
      top: 30px;
      color: grey;
    }

    .btn {
      width: 150px;
    }

  i {
    opacity: 1;
    cursor: pointer;
  }

  i.active {
    opacity: 0;
  }
  .error{
    color:red;
    margin-top: -21px;
    margin-bottom: 21px;
    display: none;
  }

  .visible{
    display: block;

  }

  .alert {
    color:green;

  }
 
  